# =========================================

# DATASETS

# =========================================

dataset/*
!dataset/README.md

# =========================================

# PROCESSED DATA

# =========================================

*.npy
*.npz

# =========================================

# MODEL CHECKPOINTS

# =========================================

checkpoints/*.pth
checkpoints/*.pt
checkpoints/*.ckpt
!checkpoints/README.md

# =========================================

# RESULTS

# =========================================

results/*
!results/README.md

# =========================================

# VIRTUAL ENVIRONMENTS

# =========================================

venv/
.venv/
env/

# =========================================

# PYTHON CACHE

# =========================================

**pycache**/
*.py[cod]
*$py.class

# =========================================

# JUPYTER

# =========================================

.ipynb_checkpoints/

# =========================================

# VS CODE

# =========================================

.vscode/

# =========================================

# OPERATING SYSTEM FILES

# =========================================

.DS_Store
Thumbs.db

# =========================================

# LOGS

# =========================================

*.log

# =========================================

# TORCH / TRAINING TEMP FILES

# =========================================

wandb/
runs/
tensorboard/
events.out.tfevents*

# =========================================

# MISC

# =========================================

*.tmp
*.bak
